[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
gunicorn = "*"
scipy="*"
scikit-learn="*"
matplotlib="*"
seaborn="*"
pandas="*"




[dev-packages]
pytest= "*"
jupyter="*"

[requires]
python_version = "3.7"
